<!DOCTYPE html>
<html lang="en">
<head>
	<% include head %> <!--Include head-->
</head>

<body>
 <% include navbar %> <!--Include navbar-->

 <!-- Main jumbotron for a primary marketing message or call to action -->
 <div class="jumbotron">
  <div class="container">
   <h1>Velkommen til Arbeidskontoret!</h1>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
  </p>
  <div class="row">
    <div class="col-md-3">
     <a class="btn btn-danger btn-lg btn-block" role="button">Prosjekter &raquo;</a>
   </div>
   <div class="col-md-3">
     <a class="btn btn-success btn-lg btn-block" role="button">Finn en stilling &raquo;</a>
   </div>
   <div class="col-md-3">
     <a class="btn btn-warning btn-lg btn-block" role="button">Piratpartiets nettside &raquo;</a>
   </div>
   <div class="col-md-3">
     <a class="btn btn-info btn-lg btn-block" role="button">Les mer om Arbeidskontoret &raquo;</a>
   </div>
 </div>
</div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
   <div class="col-md-4">
    <div class="panel panel-default">
     <!-- Default panel contents -->
     <div class="panel-heading">Sist oppdaterte prosjekter</div>
     <!-- List group -->
     <ul class="list-group">
      <li class="list-group-item">Arbeidskontoret</li>
      <li class="list-group-item">Piratpartiet.no</li>
      <li class="list-group-item">Ekstraordinært landsmøte</li>
      <li class="list-group-item">Tor exit node</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
   <!-- Default panel contents -->
   <div class="panel-heading">Ledige stillinger</div>
   <!-- List group -->
   <ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
   <!-- Default panel contents -->
   <div class="panel-heading">Mest aktive brukere</div>
   <!-- List group -->
   <ul class="list-group">
    <li class="list-group-item">Fredrik Mundt</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>
</div>

</div>

<hr>

<footer>
 <p>&copy; Ungepirater 2014</p>
</footer>
</div> <!-- /container -->


  <% include footer %> <!--Include footer-->
  </body>
  </html>
